/* General styles */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; /* Center text */
}

h1 {
  color: #E20074; /* T-Mobile Magenta */
  font-size: 36px; /* Default font size */
}

#questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.card {
  background-color: white;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 800px;
  width: calc(100% - 40px); /* Adjusted width */
}

.card button, footer button, .neon-button {
  background-color: #E20074; /* T-Mobile Magenta */
  color: white;
  padding: 16px 32px;
  margin: 20px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 24px; /* Larger font size */
  transition: background-color 0.3s ease;
}

.card button:hover, footer button:hover, .neon-button:hover {
  background-color: #C10062; /* Darker Magenta */
}

.card select, .card input[type="number"] {
  width: calc(100% - 48px);
  padding: 16px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 24px; /* Larger font size */
}

#summaryArea {
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 40px 0;
  background-color: #fff;
  width: calc(100% - 80px); /* Adjusted width */
  max-width: 800px;
}

footer {
  text-align: center;
  margin-top: 60px;
}

/* Responsive styles for mobile */
@media only screen and (max-width: 600px) {
  h1 {
    font-size: 48px; /* Larger font size for mobile */
  }

  .card {
    padding: 40px; /* Larger padding for mobile */
    width: calc(100% - 40px); /* Adjusted width for mobile */
  }

  .card button, footer button, .neon-button {
    padding: 20px 40px; /* Larger button padding for mobile */
    font-size: 32px; /* Larger font size for buttons on mobile */
  }

  .card select, .card input[type="number"] {
    padding: 20px; /* Larger input padding for mobile */
    width: calc(100% - 40px); /* Adjusted input width for mobile */
  }

  #summaryArea {
    padding: 40px; /* Larger padding for mobile */
    width: calc(100% - 40px); /* Adjusted width for mobile */
  }

  footer {
    margin-top: 80px; /* Increased margin top for footer on mobile */
  }
}
