/* General styles */
body {
  font-family: 'Open Sans', Arial, sans-serif;
  background-color: #f8f8f8;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center; /* Center text */
}

h1 {
  color: #E20074; /* T-Mobile Magenta */
  font-size: 36px; /* Larger font size */
}

#questionnaire {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
}

.card {
  background-color: white;
  padding: 40px;
  margin: 20px auto;
  border: 1px solid #ddd;
  border-radius: 12px;
  text-align: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  max-width: 800px;
  width: calc(100% - 40px); /* Adjusted width */
}

.card button {
  background-color: #E20074; /* T-Mobile Magenta */
  color: white;
  padding: 16px 32px;
  margin: 20px 10px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

.card button:hover {
  background-color: #C10062; /* Darker Magenta */
}

.card select, .card input[type="number"] {
  width: calc(100% - 48px);
  padding: 16px;
  margin: 20px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
}

#summaryArea {
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 10px;
  margin: 40px 0;
  background-color: #fff;
  width: calc(100% - 80px); /* Adjusted width */
  max-width: 800px;
}

footer {
  text-align: center;
  margin-top: 60px;
}

footer button {
  background-color: #004B93; /* T-Mobile Blue */
  color: white;
  padding: 16px 32px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 20px;
  transition: background-color 0.3s ease;
}

footer button:hover {
  background-color: #003366; /* Darker Blue */
}

.neon-button {
  text-align: center;
  cursor: pointer;
  color: #fff;
  background-color: #ff00ff;
  border: none;
  padding: 16px 32px;
  font-size: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(255, 0, 255, 0.7), 
              0 0 20px rgba(255, 0, 255, 0.7), 
              0 0 30px rgba(255, 0, 255, 0.7);
  animation: pulsate 2.5s infinite ease-in-out;
}

.neon-button:hover {
  box-shadow: 0 0 20px rgba(255, 0, 255, 0.8), 
              0 0 30px rgba(255, 0, 255, 0.8), 
              0 0 40px rgba(255, 0, 255, 0.8), 
              0 0 50px rgba(255, 0, 255, 0.8), 
              0 0 60px rgba(255, 0, 255, 0.8);
}

/* Responsive styles */
@media only screen and (max-width: 600px) {
  .card, #summaryArea {
    padding: 20px; /* Adjusted padding for smaller screens */
    margin: 10px auto; /* Center the card horizontally */
    width: calc(100% - 40px); /* Adjusted width for smaller screens */
  }

  .card button, footer button {
    padding: 20px 32px; /* Adjust button padding for smaller screens */
    margin: 10px 5px; /* Adjust button margin */
    font-size: 24px; /* Adjust button font size */
  }

  h1 {
    font-size: 32px; /* Smaller font size on mobile */
  }

  .card select, .card input[type="number"] {
    width: calc(100% - 32px); /* Adjust for padding */
    padding: 16px; /* Adjusted padding for smaller screens */
    margin: 10px 0; /* Adjusted margin for smaller screens */
  }
}
